*{
	box-sizing: border-box;
	margin: 0;
}
body{
	background: #ffefd4;
	font-family: Montserrat;
	display: flex;
	flex-flow: row wrap;
	color: #283618;
	font-size: 20px;
	width: 100%;
}
h1{
	font-family: Caveat;
}
h2, h3, h4{
	font-family: Cormorant Infant;
}
p{
	margin-bottom: 0.5em;
}
img{
	width: 100%;
	height: auto;
}
header{
	width: 100%;
	background: #8e6446;
	position: fixed;
	z-index: 99999;
	height: fit-content;

}
nav{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	color: #aebe77;
	padding: 1vh 10vw;
	
	input[type="checkbox"], label {
		display: none;
	}

	img{
		width: 10vw;
		height: auto;
	}

	ul{
		list-style: none;
		display: flex;
		flex-flow: row nowrap;
		width: 50%;
		justify-content: space-between;
		text-align: right;
		padding: 0;
	}
}
a{
	font-weight: 500;

	text-decoration: none;
	font-size: calc(17px + 7 * (100vw - 320px) / 1600);
	transition: font-size .2s;
	display: -webkit-inline-box;
	color: #cbcdb4;
	&:visited, :link {
		color: #cbcdb4;
	}
	&:hover, &:active{
		font-size: 1.2vw;
	}
}

footer{
	background: #8e6446;
	padding: 2em 10em;
	width: 100%;
	height: 20vh;
	margin-top: 2vh;
	display: grid;
	grid-template: auto / repeat(4, 1fr);
	grid-gap: 1em;

	color: #cbcdb4;


	& div{
		display: flex;
		align-items: flex-start;

		& img{
			width: 2em;
			height: auto;
			margin: 0 1em 0 0;
		}
	}

}

main{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 2vh;

	> p{
		font-size: calc(13px + 17 * (100vw - 320px) / 1600);
		text-align: center;
		width: 70%;
	}
	h2{
		font-size: calc(24px + 16 * (100vw - 320px) / 1600);
	}
}

.welcome{
	width: 100%;
	height: 90vh;
	border-radius:0 0 calc(30px + 170 * (100vw - 320px) / 1600) calc(30px + 170 * (100vw - 320px) / 1600);
	background:  linear-gradient(
		to top,
		rgba(0, 0, 0, .3),
		rgba(0, 0, 0, .3)),
	url(../images/coffee/orig.jpg) no-repeat center center / cover;
	color: #ffefd4;
	display: grid;
	grid-template: repeat(3, auto) / 50%;
	grid-gap: .5em;
	padding: 10% 10%;
	h1{
		font-size: calc(40px + 88 * (100vw - 320px) / 1600);	
	}
	p{
		font-size: calc(13px + 19 * (100vw - 320px) / 1600);
	}
}

.marketing{
	width: 60%;
	padding: 1em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 1em;
	background: #8e6446;
	border-radius: 20px;
	position: relative;
	border: 1px solid #8e6446;

	color: #ffefd4;

	h3{
		font-size: calc(24px + 24  * (100vw - 320px) / 1600);
		width: 100%;
	}
	div{
		width: 45%;
		aspect-ratio: 4 /3;
	}
	p{
		font-size: 1.2em;
	}
}
#summer{
	background: #cbd2b4;
	color: #38511b;
	border: 1px solid #38511b;
}
#autumn{
	background: #8e6446;
	color: #ffefd4;
	border: 1px solid #ffefd4;
}
#winter{
	background: #d8f4f5;
	color: #234760;
	border: 1px solid #234760;
}
#spring{
	background: #f8c6db;
	color: #805dc5;
	border: 1px solid #805dc5;
}

#work{
	width: 100%;
	background: rgba(0, 0, 0, .25);
	backdrop-filter: blur(20px);
}

#background{
	width: 60%;
	border-radius: 20px;
	background: url(..//images/coffee/barista.jpg) no-repeat center center / cover;
}

.category-menu{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1em;
	width: 60%;

	h2{
		grid-column: span 5;
	}
	.menu-item{
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;


		.menu-item-info{
			background: #aebe77;
			padding: .8em;
			padding-top: calc(40px + 10 * (100vw - 320px) / 1600);
			width: 100%;
			border-radius: 20px;

			h3{
				text-align: center;
				font-size: calc(18px + 6 * (100vw - 320px) / 1600);
				height: 2.5em;
				font-weight: 700;
				align-content: center;
			}
			.drinks{
				width: 100%;
				align-items: end;
				border-collapse: collapse;
				font-size: calc(14px + 4 * (100vw - 320px) / 1600);

				td:last-child{
					font-size: calc(16px + 8 * (100vw - 320px) / 1600);

					text-align: right;
				}
				td:first-child{
					font-family: Cormorant Infant;
					font-weight: 600;
					font-size: calc(18px + 10 * (100vw - 320px) / 1600);
					width: 5%;

				}
				td{
					border-bottom: 1px dashed #283618;
				}
			}		
		}
		.snacks{
			font-size: calc(12px + 2 * (100vw - 320px) / 1600);
			p{
				height: 70px;
				align-content: center;
				border-bottom: 1px dashed #283618;

				&:last-of-type{
					height: auto;
					text-align: right;
					font-size: 1.5em;
					border: none;
				}
			}
		}
		.menu-item-image{
			width: 90%;
			aspect-ratio: 1 / 1;
			border-radius: 12px;
			margin-bottom: -2em;
			z-index: 1;
		}
		#Sandwich{
			background: url('../images/coffee/sandwich.jpg') no-repeat center center / cover;
		}
		#Cheesecake{
			background: url('../images/coffee/cheesecake.jpg') no-repeat center center / cover;
		}
		#Mochi{
			background: url('../images/coffee/mochi.jpg') no-repeat center center / cover;
		}
		#Salad{
			background: url('../images/coffee/salad.jpg') no-repeat center center / cover;
		}
		#Donat{
			background: url('../images/coffee/donats.jpg') no-repeat center center / cover;
		}
	}
}


@media screen and (max-width: 780px){
	nav{
		padding: 10px 5vw;
		position:relative;

		ul{
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			background: #8e6446;
			flex-flow: column nowrap;
			text-align: center;
			width: 100%;
			padding: 2vh 2vw;
			transition: transform .5s ease-in-out;
			li{
				margin: 2vh 0;
			}
		}
		img{
			width: 60%;
		}
		label {
			display: inline-block;
			padding: 7px 10px;
			background-color: transparent;
			cursor: pointer;
			z-index: 3;
		}
		.bar {
			display: block;
			background-color: #ffefd4;
			width: 30px;
			height: 3px;
			border-radius: 5px;
			margin: 5px auto;
		}
		input[type="checkbox"]:checked ~ label .top {
		  transform: translateY(5px) rotateZ(45deg);
		}

		input[type="checkbox"]:checked ~ label .bottom {

		  transform: translateY(-10px) rotateZ(-45deg);
		}

		input[type="checkbox"]:checked ~ label .middle {
		  width: 0;
		}
		input[type="checkbox"]:checked ~ ul{
			display: flex;
		}
		.middle {
		  margin: 0 auto;
		}

	}
	main > div:not(:first-child){
		width: 95%;
	}

	footer{
		grid-template: repeat(4, auto) / auto;
		padding: 10px 5vw;
		height:fit-content;

		img{
			width: 80%;
		}
	}

	.welcome{
		grid-template: repeat(3, auto) / auto;
		padding: 15vh 5vw;
		height: fit-content;
		text-align: center;
	}
	.marketing{
		flex-flow: column nowrap;
		padding: .7em;
		width: 100%;
		div{
			width: 100%;
		}
		div:first-of-type{
			height: auto;
		}
		p{
			font-size: .7em;
		}
	}
	.category-menu{
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 5vw;

		h2{
			grid-column: span 2;
		}

		.menu-item > .menu-item-info{
			border-radius: 12px;
		}
		.menu-item > .menu-item-image {
			border-radius: 8px;
		}
	}
	#background{
		width: 95%;
	}
	#work div{
		width: 100%;
	}
}