.schedule-table {
/*    width: 100%;*/

}

.schedule-table th:not(:first-of-type), .schedule-table td:not(:first-of-type) {
	width: 40px;
	height: 40px;
    text-align: center;
    position: relative;
}
.schedule-table th:first-of-type, .schedule-table td:first-of-type {
    width: 15%;
    text-align: center;
    position: relative;
}


.schedule-table tbody {
    background-color: #ffefd4;
}

.schedule-cell {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: transparent;
}

/* Полный день */
.schedule-cell.shift-full-day {
    background: var(--cell-color) !important;
}

/* Первая половина дня */
.schedule-cell.shift-first-half {
    background-color: transparent;
}
.shift-indicator.first-half {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--cell-color) 50%, #ffefd4 50%);
}

/* Вторая половина дня */
.schedule-cell.shift-second-half {
    background-color: transparent;
}
.shift-indicator.second-half {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-135deg, var(--cell-color) 50%, #ffefd4 50%);
}

.editable-cell {
    cursor: pointer !important;
}

.month-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.create-schedule-form {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin-top: 20px;
}

.create-schedule-form .btn-primary {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
}

.shift-input {
    display: none;
}

.manage-mode-header{
    display: flex;
    flex-flow: row wrap;
    gap:20px;
    width: 100%;

}
.manage-mode-selector{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#schedule-form{
    display: flex;
    flex-flow: column nowrap;
    gap:20px;
}


.tab-content{
    flex-flow: row wrap;
}