table{
	width: 100%;
	border-collapse: collapse;

}
th, td{
	width: 25%;
	padding: 10px;
}
tbody tr{
	background: rgba(242, 248, 224, .4);
    position: relative;
}
tbody tr:nth-of-type(4n +1), tr:nth-of-type(4n +2){
	background: rgba(242, 248, 224, .8);
	
}
tbody tr:nth-of-type(2n +1):after{
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    background: #cbd2b4;
    left: 0;
    top:1;
    
}
tbody tr:nth-of-type(2n){
	border-bottom: 2px dashed #38511b;

}
tbody tr:nth-of-type(2n +1){
    td{
        padding-top: 20px;
    }
}

.actions{
	flex-flow: row nowrap;
	width: 100%;
	aspect-ratio: 0;
	justify-content: end;
	gap: 20px;
}


.color-picker-container {
    position: relative;
    max-width: 200px;
}

.color-picker-toggle {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 600px;
    height: 60px;
    align-items: center;
    padding: 20px;
/*    border: 1px solid #ddd;*/
    border-radius: 15px;
    cursor: pointer;
    background-color: #ffefd4;
}

.color-picker-toggle:hover {
    border-color: #aaa;
}

.selected-color-value {
    flex-grow: 1;
    color: #38511b;
}

.dropdown-arrow {
    margin-left: 8px;
    color: #38511b;
    font-size: 10px;
}

.color-picker-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    margin-top: 5px;
}

.color-options-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.color-option {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-option:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ddd;
}